In [3]:
# set methods 
#this assignment does not contain difference and intersection method cause i did not get those!
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# add(element)
set1.add(6)
print("After adding 6 ", set1)

After adding 6  {1, 2, 3, 4, 5, 6}

In [4]:
# clear()
set1.clear()
print("After clearing set1:", set1)

After clearing set1: set()

In [5]:
# copy()
set3 = set2.copy()
print("Copy of set2:", set3)

Copy of set2: {4, 5, 6, 7, 8}

In [ ]:
#difference()
set2.difference(set3)
print("it now become", set2)

In [8]:
#difference_update()
set1 = {1, 2, 3, 4, 5}
set1.difference_update(set2)
print("Difference update set1:", set1)

Difference update set1: {1, 2, 3}

In [9]:
# discard()
set2.discard(8)
print("After discarding 8 from set2:", set2)

After discarding 8 from set2: {4, 5, 6, 7}

In [11]:
#issubset()
is_subset = set1.issubset(set2)      #Returns True if every element in the set is in another set
print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? False

In [12]:
#issuperset()
is_superset = set2.issuperset(set1)     #Returns True if every element in another set is in the set.
print("Is set2 a superset of set1?", is_superset)

Is set2 a superset of set1? False

In [13]:
#pop()
popped_element = set2.pop()       #specially removes arbitrary element from the set
print("Popped element from set2:", popped_element)

Popped element from set2: 4

In [14]:
#remove()
set3.remove(8)    
print("After removing 8 from set3:", set3)

After removing 8 from set3: {4, 5, 6, 7}

In [15]:
#symmetric_difference()
symmetric_difference_set = set1.symmetric_difference(set2)       #Returns the symmetric difference of two sets as a new set.
        #here it will return the elements that are in two of the sets but just not same
print("Symmetric difference between set1 and set2:", symmetric_difference_set)

Symmetric difference between set1 and set2: {1, 2, 3, 5, 6, 7}

In [16]:
#symmetric_difference_update()
set1.symmetric_difference_update(set2)      #this will give the set1 the elements which were not in it but in the other set
print("Symmetric difference update set1:", set1)

Symmetric difference update set1: {1, 2, 3, 5, 6, 7}

In [17]:
#union()
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 5, 6, 7}

In [18]:
#update()
set1.update(set2)
print("Update set1 with set2:", set1)

Update set1 with set2: {1, 2, 3, 5, 6, 7}